
{% extends 'base.html' %}
{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          <div class="h1 text-center text-danger">Computer and Data scientist</div>

          
<p>
    My passion to technology and my curiosity drew me to this field. I became fascinated with the fast progress of technology and that is making me want to know more about it. </p>

<p>

    I am an AI and machine learning enthusiast who describes himself as a self-motivated, confident  individual with a strong attention to detail. I always aim high. I keep myself motivated by challenging myself. I'm a fast learner who not only comes up with inventive ideas,  but also uses his time and stress management skills and resourcefulness to make them happen. </p>

<p>

    I am an IEEE Student member and G2FOSS training manager. Volunteering takes a huge part of my student life.
 </p>
      </div>
    </div>
  </div>
{% endblock %}
